@page
@model BookStoreApi.Views.ReservationModel

@{
    ViewData["Title"] = "Reservation";
}

<h1>Reservation</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservation.ReservationDate" class="control-label"></label>
                <input asp-for="Reservation.ReservationDate" class="form-control" />
                <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.Timing" class="control-label"></label>
                <input asp-for="Reservation.Timing" class="form-control" />
                <span asp-validation-for="Reservation.Timing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberOfTables" class="control-label"></label>
                <input asp-for="Reservation.NumberOfTables" class="form-control" />
                <span asp-validation-for="Reservation.NumberOfTables" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumberOfSeats" class="control-label"></label>
                <input asp-for="Reservation.NumberOfSeats" class="form-control" />
                <span asp-validation-for="Reservation.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.CustomerID" class="control-label"></label>
                <select asp-for="Reservation.CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
